*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #dde1e7;
}

.card{
	width: 400px;
	height: 700px;
	margin: 50px auto;
	box-shadow: -3px -3px 7px #ffffff73,
				3px 3px 5px rgba(94, 104, 121, 0.288);
	border-radius: 40px;
	overflow: hidden;
	position: relative;
}

.card .logo{
	background: #dde1e7;
	width: 50px;
	height: 50px;
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: -3px -3px 7px #ffffff73,
				3px 3px 5px rgba(94, 104, 121, 0.288);
	border-radius: 50%;
	float: left;
}

.card .logo h1{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
}

.card .logo a{
	display: block;
	color: #375832;
	text-decoration: none;
}

.card .logo:hover{
	box-shadow: inset -3px -3px 7px #ffffff73,
				inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}


.card .menu-list{
	background: #dde1e7;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 20px;
	right: 20px;
	box-shadow: -3px -3px 7px #ffffff73,
				3px 3px 5px rgba(94, 104, 121, 0.288);
	border-radius: 50%;
}

.card .menu-list a{
	display: block;
	color: #375832;
	text-decoration: none;
}

.card .menu-list:hover{
	box-shadow: inset -3px -3px 7px #ffffff73,
				inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.card .main{
	clear: both;
	width: 200px;
	height: 200px;
	margin: 100px auto;
}

.card .main img{
	width: 200px;
	height: 200px;
	border: 10px solid #dde1e7;
	box-shadow: -3px -3px 7px #ffffff73,
				3px 3px 5px rgba(94, 104, 121, 0.288);
	border-radius: 50%;
}

.card .main p{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #375832;
	text-align: center;
	margin-top: 20px;
}

.card .main span{
	font-size: 25px;
	font-weight: bold;
	color: #375832;
}

.card .main-list{
	margin: 50px auto;
}

.card .main-list ul li{
	width: 300px;
	height: 30px;
	box-shadow: -3px -3px 7px #ffffff73,
				3px 3px 5px rgba(94, 104, 121, 0.288);
	border-radius: 10px;
	margin: 20px auto;
	list-style-type: none;
	text-align: center;
	line-height: 30px;
}

.card .main-list ul li a{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: #375832;
}

.card .main-list li:hover{
	box-shadow: inset -3px -3px 7px #ffffff73,
				inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.card .social-media{
	text-align: center;
}

.card .social-media a{
	display: inline-block;
	background:  #dde1e7;
	font-size: 20px;
	width: 50px;
	height: 50px;
	margin: 0 20px;
	line-height: 50px;
	box-shadow: -3px -3px 7px #ffffff73,
				3px 3px 5px rgba(94, 104, 121, 0.288);
	border-radius: 50%;
}

.card .social-media a:hover{
	box-shadow: inset -3px -3px 7px #ffffff73,
				inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.fa-facebook{
	color: #3b5998;
}

.fa-twitter{
	color: #00acee;
}

.fa-instagram{
	color: #f09433;
}